PORT=3000
EVENT_STORE_KIND=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=banking
POSTGRES_PASSWORD=banking
POSTGRES_DB=banking
KAFKA_BROKER=localhost:29092
KAFKA_CLIENT_ID=core-banking-app
